<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=200">
    <title>重邮印象墙</title>
    <link rel="stylesheet" href="__PUBLIC__/dist/assets/css/main.css">
</head>
<body>
    <div class="commentOuter" style="margin-top:1rem;">
        <textarea name="comment" id="commentText" rows="10" placeholder="在这里输入对Ta的印象，如果不好意思可以匿名哦"></textarea>
        <span class="count">最大字数60字，已输入<span id="entered">0</span>字</span>
    </div>
    <div class="buttonStyle" id="confirm">确定</div>
    <div class="anony"><input id="checkbox" type="checkbox"><span>匿名</span></div>
    <div id="shade"></div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var isWX = true,//是否关注 boolean
            shareURL = '',
            shareImg = '';
        function Comment () {
            this.postURL = "{:U('Index/createImpression')}";
        }
        Comment.prototype.bind = function () {
            var that = this;
            document.getElementById('confirm').addEventListener('click', function () {
                that.post();
            });
        };
        Comment.prototype.post = function () {
            var postData = {
                "signature": this.content,
                "hide": (function(){
                    if (document.getElementById('checkbox').checked == true) {
                        return 1;
                    } else {
                        return 0;
                    }
                }())
            };
            postData = (function(obj){ // 转成post需要的字符串.
                var str = "";
                for(var prop in obj){
                    str += prop + "=" + obj[prop] + "&"
                }
                return str;
            })(postData);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", this.postURL, true);
            xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xhr.onreadystatechange = function(){
                var XMLHttpReq = xhr;
                if (XMLHttpReq.readyState == 4) {
                    if (XMLHttpReq.status == 200) {
                        var text = XMLHttpReq.responseText;
                         show.display('success');
                        console.log(text);
                    } else {
                        show.display('error');
                    }
                }
            };
            xhr.send(postData);
        };
        Comment.prototype.count = function () {
            var that = this;
            this.bind();
            document.getElementById('commentText').addEventListener('input', function () {
                that.content = (function (obj) {
                    if (obj.value.length > 60) {
                        obj.value = obj.value.substr(0,60);
                        return obj.value.substr(0,60);
                    }
                    return obj.value;
                })(document.getElementById('commentText'));
                that.length = (function (obj) {
                    if (obj.value.length > 60) {
                        return 60;
                    }
                    return obj.value.length;
                })(document.getElementById('commentText'));
                document.getElementById('entered').innerHTML = that.length;
            },false);
        };

        function Show () {
            this.smile = {
                str: '&#xe77d;',
                color: '#008e06'
            },
            this.sad = {
                str: '&#xf0067;',
                color: '#ff8d27'
            }
        }
        Show.prototype.display = function (status) {
            var string = '<div class="bc"></div><div class="shadeMeg">';
            if (status == 'success') {
                string += '<div class="iconfont" id="close">&#xe636;</div><div class="face iconfont" style="color:' + this.smile.color + '">' + this.smile.str + '</div>';
                string += '<h2>提交成功~</h2>';
                string += '<a class="button buttonStyle" id="_close">确定</a></div>';
            } else if (status == 'error') {
                string += '<div class="iconfont" id="close">&#xe636;</div><div class="face iconfont" style="color:' + this.sad.color + '">' + this.sad.str + '</div>';
                string += '<h2>出错了</h2>';
                string += '<a class="button buttonStyle" id="_close">确定</a></div>';
            } else if (status == 'focus') {
                string += '<div class="face iconfont"  style="color:' + this.sad.color + ';padding-top:1rem;">' + this.sad.str + '</div>';
                string += '<h2>sorry，你还没有关注小帮手</h2>';
                string += '<a href="http://mp.weixin.qq.com/s?__biz=MjM5NDAzNDM2MQ==&mid=213491480&idx=1&sn=ac22f1c7690da2cd95e480fcaa99022a&scene=1&from=singlemessage&isappinstalled=0#rd" class="button buttonStyle">关注</a></div>';
            }
            document.getElementById('shade').style.display = 'block';
            document.getElementById('shade').innerHTML = string;
            if (document.getElementById('close')) {
                document.getElementById('close').addEventListener('click',function () {
                    document.getElementById('shade').style.display = 'none';
                    document.getElementById('shade').innerHTML = '';
                });
            }
            if (document.getElementById('_close')) {
                document.getElementById('_close').addEventListener('click',function () {
                    document.getElementById('shade').style.display = 'none';
                    document.getElementById('shade').innerHTML = '';
                });
            }
        };

        var comment = new Comment();
        comment.count();
        var show = new Show();

        //wx
        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
            timestamp: <?php echo $time = time() ?>, // 必填，生成签名的时间戳
        nonceStr: 'asdf', // 必填，生成签名的随机串
                signature: "<?php echo sha1('jsapi_ticket=$ticket&noncestr=asdf&timestamp='.$time.'&url=http://hongyan.cqupt.edu.cn/'.$path); ?>",// 必填，签名，见附录1
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: '', // 分享标题
                link: shareURL, // 分享链接
                imgUrl: shareImg, // 分享图标
                success: function () { 
                    alert('分享成功。');
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareAppMessage({
                title: '', // 分享标题
                desc: '', // 分享描述
                link: shareURL, // 分享链接
                imgUrl: shareImg, // 分享图标
                success: function () { 
                    alert('分享成功。');
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });
        });
    </script>
</body>
</html>