<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>重邮印象墙</title>
	<link rel="stylesheet" href="__PUBLIC__/dist/assets/css/card.css">
</head>
<body>
<div class="mine">
	<div class="minePic" style="background-image:url(<?php echo $user['avatar']?$user['avatar']:'__PUBLIC__/dist/assets/images/bg.png' ?>)"></div>
	<div class="mineName">{$user.nickname}</div>
	<div class="mineIntro">{$user.signature}</div>
</div>
<ul class="others">
	<if condition="$num gt 0 ">
		<li class="list">TA共收到<span>{$num}</span>个印象</li>
		<else />
		<li class="none">TA还未收到任何印象</li>
	</if>
	<volist name="data" id="vo">
		<li class="other box" data-id="{$vo.impression_id}">
			<div class="otherPic iconfont" style="background-image:url(<?php echo $vo['avatar']?$vo['avatar']:'__PUBLIC__/dist/assets/images/hide.jpg' ?>)"></div>
			<div class="otherName">{$vo.nickname}</div>
			<div class="othercom">{$vo.content}</div>
			<div class="tools">
				<if condition="$vo['action'] eq 1">
					<div class="tool toolDown iconfont">&#xe606;<span>{$vo.down}</span></div>
					<div class="tool  toolUp toolFocus iconfont">&#xe603;<span>{$vo.praise}</span></div>
					<elseif condition="$vo['action'] eq 0"/>
					<div class="tool toolDown toolFocus iconfont">&#xe606;<span>{$vo.down}</span></div>
					<div class="tool toolUp iconfont">&#xe603;<span>{$vo.praise}</span></div>
					<else />
					<div class="tool toolDown iconfont">&#xe606;<span>{$vo.down}</span></div>
					<div class="tool toolUp iconfont">&#xe603;<span>{$vo.praise}</span></div>
				</if>
			</div>
		</li>
	</volist>
</ul>
	<div class="share">
		<div class="shareBg"></div>
		<!-- 评论页面comment -->
		<a href="" class="comBtn buttonStyle">我要评论</a>
		<!-- 主页index -->
		<a href="" class="comshareBtn buttonStyle">我要分享</a>
	</div>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="__PUBLIC__/dist/assets/js/zepto.min.js"></script>
	<script>
		var isWX = <?php echo $care?'true':'false' ?>,//是否关注 boolean
			shareURL = "http://hongyan.cqupt.edu.cn{:U('Index/share')}?uid={:I('get.uid')}",
			shareImg = "{$user.avatar}",
			postURL = "{:U('Index/action')}";//赞地址
		$('.toolUp').on('touchend',function () {
            var that = $(this);
            var id = $(this).parents('.other').data('id');
            if ($(this).parents('.tools').eq(0).find('.toolFocus').length == 0) {
                $.ajax({
                    url: postURL,
                    type: 'post',
                    data: {
                        action: 1,
                        impression_id: id
                    },
                    success: function () {
                        that.unbind('click');
                        that.addClass('toolFocus');
                        that.removeClass('toolUp');
                    },
                    error: function () {
                        alert('发生错误');
                    }
                });
            } else {
                alert('您已经踩过了，不能点赞！');
            }
            
        });
        $('.toolDown').on('touchend',function () {
            var that = $(this);
            var id = $(this).parents('.other').data('id');
            if ($(this).parents('.tools').eq(0).find('.toolFocus').length == 0) {
                $.ajax({
                    url: postURL,
                    type: 'post',
                    data: {
                        action: 0,
                        impression_id: id
                    },
                    success: function () {
                        that.unbind('click');
                        that.addClass('toolFocus');
                        that.removeClass('toolUp');
                    },
                    error: function () {
                        alert('发生错误');
                    }
                });
            } else {
                alert('您已经赞过了，不能点踩！');
            }
        });

		//wx
		wx.config({
			debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
			timestamp: <?php echo $time = time() ?>, // 必填，生成签名的时间戳
		nonceStr: 'asdf', // 必填，生成签名的随机串
				signature: "<?php echo sha1('jsapi_ticket='.$ticket.'&noncestr=asdf&timestamp='.$time.'&url=http://hongyan.cqupt.edu.cn'.$path); ?>",// 必填，签名，见附录1
		jsApiList: [
			'onMenuShareTimeline',
			'onMenuShareAppMessage'
		] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});

		wx.ready(function(){
			wx.onMenuShareTimeline({
			    title: '', // 分享标题
			    link: shareURL, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			    	alert('分享成功。');
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
			wx.onMenuShareAppMessage({
			    title: '', // 分享标题
			    desc: '', // 分享描述
			    link: shareURL, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			    	alert('分享成功。');
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
		});
	</script>
</body>
</html>